{% extends 'base.html.twig' %}

{% block title %}Amazon-bis!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 90%;  font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
        .table th {
            text-align: center;
        }
        .btn-add {
            text-align: center;
            width: 100%;
        }
    </style>

    <div class="example-wrapper">
        <h1>Liste des articles</h1>
        <br>
        <div class="table-responsive">
            <div class="input-group">
                <form method="post" action="{{ path('rechercheAll') }}">
                    <input type="text" class="form-control" placeholder="Recherche">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <table class="table table-hover table-striped table-bordered">
                <thead>
                <tr class="table-primary">
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Auteur</th>
                    <th scope="col">prix</th>
                    <th scope="col">Quantité restante</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for livre in livres %}
                <tr>
                    <th scope="row">{{ livre.id }}</th>
                    <td>{{ livre.nom }}</td>
                    <td>{{ livre.auteur }}</td>
                    <td><strong>{{ livre.prix }}€</strong></td>
                    <td>{{ livre.stock }}</td>
                    <td>
                        <a href="{{ path('panier_ajouter', {'id' : livre.id}) }}" class="btn btn-primary btn-add">Ajouter</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
